<h3>Members</h3>

<div class="form-group pull-right">
    <a class="btn btn-primary" href="#/memberCreate">New member</a>
</div>

<div class="clearfix"></div>

<table class="table table-striped">
    <thead>
        <th>nickname:</th>
        <th>email:</th>
        <th>roles:</th>
    </thead>

    <tbody>
        <tr ng-repeat="member in members">
            <td><a ng-href="#/memberEdit/{{member._id}}">{{member.nickName}}</a></td>
            <td>{{member.email}}</td>
            <td>{{member.roles}}</td>
        </tr>
    </tbody>



</table>