<h3><span class="glyphicon glyphicon-user"></span>Edit member</h3>

<form ng-submit="save()">
    <div class="form-group">
        <label>Nick name</label>
        <input class="form-control" type="text" ng-model="current.nickName">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" ng-model="current.email">
    </div>

    <div class="form-group">
        <label>Função</label>

        <div ng-repeat="role in roles">
            <input type="checkbox" ng-model="role.selected"> {{role.name}}
        </div>
    </div>

    <div class="form-group pull-right">
        <input class="btn btn-primary" type="submit" value="save">
    </div>


    <div class="clearfix"></div>

</form>
